# Системные файлы и папки
*.DS_Store
*.vscode/
.idea/
*.log
*.sqlite3

# Python файлы
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.so

# Виртуальное окружение
venv/
.env/
*.env

# Django файлы
db.sqlite3
media/
staticfiles/
*.log
*.pot
*.pyc
local_settings.py

# Docker файлы
*.dockerignore
docker-compose*.yml
Dockerfile

# macOS файлы
.DS_Store

# Среды разработки
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Папки и файлы с сессиями и кэшем
*.migrations/
*.session
*.cache
__MACOSX/

# Инструменты документации и тестирования
htmlcov/
.coverage
.tox/
.jupyter/
pytest_cache/
reports/

# Swagger и документация
*.yaml
*.yml
